body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

header {
  background: #0f172a;
  color: white;
  padding: 30px;
  text-align: center;
}

section {
  margin-top: 30px;
}

.project-card {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.project-card img {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}
